{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper mauris at dui consequat, id
            ultricies dui vestibulum. Etiam vestibulum, enim hendrerit interdum semper, leo neque sollicitudin dolor, ut
            condimentum risus mi sit amet leo. Nullam nec viverra urna. Nam vel vestibulum augue. Vestibulum molestie
            laoreet tortor
            vitae pharetra. Proin interdum placerat leo, eu dignissim turpis convallis non. Vestibulum bibendum sapien
            sit amet consectetur porta. Fusce a finibus eros. Cras imperdiet ac lorem et fringilla. Nulla ut felis
            ullamcorper,
            rutrum nibh ac, faucibus odio. Donec erat metus, consequat eu iaculis ut, consectetur eget nunc. Curabitur
            tellus nisi, congue id vulputate ut, consequat in odio. Cras interdum faucibus urna quis efficitur. Nullam
            sollicitudin lacus eu finibus accumsan. Maecenas vel enim scelerisque, ultrices enim viverra, dictum felis.
            Nunc faucibus tellus purus, rhoncus feugiat nisi tincidunt non. Vivamus nec metus hendrerit, accumsan massa
            porta, auctor ligula Morbi dictum ornare sollicitudin. Vestibulum malesuada ipsum vitae ullamcorper dapibus.
            Mauris
            rutrum odio et nibh bibendum, in tristique nulla fermentum. Praesent lacinia magna non arcu varius sodales.
            Praesent urna nunc, porta ut risus ut, tincidunt laoreet nisi. In tempus, nibh sed eleifend mattis, tellus
            nibh interdum diam, ut commodo sem libero tincidunt odio. Nam iaculis sollicitudin turpis, non consectetur
            velit
            sodales sed. Phasellus maximus nulla vel enim euismod, sed ultricies neque posuere. Phasellus posuere
            efficitur quam sed elementum. Morbi faucibus tellus a sapien posuere, a eleifend arcu vestibulum. Mauris ac
            dignissim
            urna. Vivamus dolor elit, egestas quis varius non, fringilla ac ligula. Phasellus tempor nibh quis est
            aliquam placerat vel in ex. Fusce interdum magna nec lectus finibus elementum. Donec et semper orci, a porta
            urna.
            Nam imperdiet, dui quis facilisis condimentum, libero purus ornare ex, vel pretium lectus purus vel dui.
            Phasellus iaculis gravida lacinia. Morbi sodales lectus sed ex convallis maximus. Integer diam nulla, mattis
            eu massa
            sed, pretium eleifend erat. In hac habitasse platea dictumst.</p>
        <div class="text-center">
            {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}